body {
    background-color: lightblue;
}

h1 {
    background-color: Tomato;
    color: white;
}

h2 {
    background-color: Orange;
    color: white;
}

h3 {
    background-color: DodgerBlue;
    color: white;
}

h4 {
    background-color: MediumSeaGreen;
    color: white;
}

h5 {
    background-color: Gray;
    color: white;
}